<include file="./Tpl/Admin/Public/header.html" />
<body>
    <include file="./Tpl/Admin/Public/hbar.html" />
	<include file="./Tpl/Admin/Public/sbar.html" />
    <section id="content">
        <div id="contentHeader">
            <h1>Hello World</h1>
        </div>
        <div id="breadcrumb">
            <ul class="breadcrumb">
                <li><a href="#">首页</a> </li>
                <li><span class="divider">/</span><a href="#">Library</a></li>
                <li class="active"><span class="divider">/</span>Data</li>
            </ul>
        </div>
    <div class="container-fluid">
	{__CONTENT__}
    </div>
    </section>
<include file="./Tpl/Admin/Public/footer.html" />


