/***
*
* alex 
* 2013/1/24
*
**/

.content {
    padding-top: 0px;
}

/**	Left bar  **/
.nav{
    padding-top: 15px;
}

.left-nav li{
	margin-top: 0px;
	line-height: 30px;
}

.nav li a{
	cursor: pointer;
	color: #666666;
    font-weight: 400;
}

.nav li.active a{
	background-color: rgba(180,180,180,.4);
	border-left: 1px solid rgba(100,100,100,0.5);
	border-top: 1px solid rgba(100,100,100,0.5);
	box-shadow:inset 0px 2px 2px rgba(0,0,0,.1);
	color:#ffffff;
}

.left-nav li.active a:after{
	content:'';
	display:inline-block;
	background-color: #ffffff;
	float: right;
	position: relative;
	left: 25px;
	top:5px;
	width: 20px;
	height: 20px;
	transform:rotate(45deg);
    border-left: 1px solid #F0F0F0;
	box-shadow:0 0 10px 0 #ffffff;
	-webkit-transform:rotate(45deg);
	-webkit-box-shadow:0 0 10px 0 #ffffff;
	z-index: 0;
}

.nav li.active a:HOVER{
	background-color: rgba(180,180,180,.4);
}

.nav li a{
	transition: all .5s ease-in-out 0s;
	-webkit-transition: all .5s ease-in-out 0s;
}

.container-fluid{
    padding-left: 1px;
    padding-right: 1px;
}


/**	Content	***/

.balance-well{
	min-height: 50px;
}

.tab-content-row {
	padding-left: 10px;	
}

#tab-content{
	margin-left:0px;
	background-color: #ffffff;
	padding: 10px 20px 10px 20px;
    border-left: 1px solid #F0F0F0;
    min-height: 650px;
}

h3.balance{
	display: inline;
	padding: 5px;
	font-size: 25px;
}
.charge-btn {
	margin-top: 5px;
}